.buttonsRow {
  flex: 1 1 100%;
}

.button, .buttonHome,
.activeHome, .buttonModal,
.activeModal, .buttonDrawerMenu,
.activeDrawerMenu, .buttonBackwards,
.activeBackwards, .buttonForward,
.activeForward, .buttonCategory,
.activeCategory,
.active {
  border: none;
  box-sizing: border-box;
  padding: 2vmin;
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  transition: all 0.3s;
}
.buttonCategory,
.activeCategory {
  background-color: var(--surface-container-high);
}
.buttonCategory > .icon,
.activeCategory > .icon {
  color: var(--secondary);
}
.buttonForward,
.activeForward {
  grid-area: forwardButton;
  background-color: var(--primary-container);
}
.buttonForward > .icon, .buttonForward > .text,
.activeForward > .icon,
.activeForward > .text {
  color: var(--on-primary-container);
}
.buttonBackwards,
.activeBackwards {
  background-color: var(--primary-container);
  grid-area: backwardsButton;
}
.buttonBackwards > .icon, .buttonBackwards > .text,
.activeBackwards > .icon,
.activeBackwards > .text {
  color: var(--on-primary-container);
}
.buttonDrawerMenu,
.activeDrawerMenu {
  grid-area: drawerMenuButton;
  background-color: var(--primary-fixed-dim);
}
.buttonDrawerMenu > .icon, .buttonDrawerMenu > .text,
.activeDrawerMenu > .icon,
.activeDrawerMenu > .text {
  color: var(--on-primary-fixed);
}
.buttonModal,
.activeModal {
  grid-area: modal;
  background-color: var(--tertiary-container);
}
.buttonModal > .icon, .buttonModal > .text,
.activeModal > .icon,
.activeModal > .text {
  color: var(--on-tertirary-container);
}
.buttonHome,
.activeHome {
  grid-area: homeButton;
  box-shadow: var(--dp2);
  background-color: var(--primary);
}
.buttonHome > .icon, .buttonHome > .text,
.activeHome > .icon,
.activeHome > .text {
  color: var(--on-primary);
}
.button:link, .buttonCategory:link,
.activeCategory:link, .buttonForward:link,
.activeForward:link, .buttonBackwards:link,
.activeBackwards:link, .buttonDrawerMenu:link,
.activeDrawerMenu:link, .buttonModal:link,
.activeModal:link, .buttonHome:link,
.activeHome:link, .button:visited, .buttonCategory:visited,
.activeCategory:visited, .buttonForward:visited,
.activeForward:visited, .buttonBackwards:visited,
.activeBackwards:visited, .buttonDrawerMenu:visited,
.activeDrawerMenu:visited, .buttonModal:visited,
.activeModal:visited, .buttonHome:visited,
.activeHome:visited,
.active:link,
.active:visited {
  background-color: var(--surface-container);
  color: var(--on-surface);
}
.button:link > .icon, .buttonCategory:link > .icon,
.activeCategory:link > .icon, .buttonForward:link > .icon,
.activeForward:link > .icon, .buttonBackwards:link > .icon,
.activeBackwards:link > .icon, .buttonDrawerMenu:link > .icon,
.activeDrawerMenu:link > .icon, .buttonModal:link > .icon,
.activeModal:link > .icon, .buttonHome:link > .icon,
.activeHome:link > .icon, .button:visited > .icon, .buttonCategory:visited > .icon,
.activeCategory:visited > .icon, .buttonForward:visited > .icon,
.activeForward:visited > .icon, .buttonBackwards:visited > .icon,
.activeBackwards:visited > .icon, .buttonDrawerMenu:visited > .icon,
.activeDrawerMenu:visited > .icon, .buttonModal:visited > .icon,
.activeModal:visited > .icon, .buttonHome:visited > .icon,
.activeHome:visited > .icon,
.active:link > .icon,
.active:visited > .icon {
  color: var(--on-surface-variant);
}
.button:hover, .buttonCategory:hover,
.activeCategory:hover, .buttonForward:hover,
.activeForward:hover, .buttonBackwards:hover,
.activeBackwards:hover, .buttonDrawerMenu:hover,
.activeDrawerMenu:hover, .buttonModal:hover,
.activeModal:hover, .buttonHome:hover,
.activeHome:hover, .button:active, .buttonCategory:active,
.activeCategory:active, .buttonForward:active,
.activeForward:active, .buttonBackwards:active,
.activeBackwards:active, .buttonDrawerMenu:active,
.activeDrawerMenu:active, .buttonModal:active,
.activeModal:active, .buttonHome:active,
.activeHome:active,
.active:hover,
.active:active {
  background-color: var(--primary-fixed);
  box-shadow: var(--dp6);
  border: 2px solid var(--outline);
}
.button:hover > span, .buttonCategory:hover > span,
.activeCategory:hover > span, .buttonForward:hover > span,
.activeForward:hover > span, .buttonBackwards:hover > span,
.activeBackwards:hover > span, .buttonDrawerMenu:hover > span,
.activeDrawerMenu:hover > span, .buttonModal:hover > span,
.activeModal:hover > span, .buttonHome:hover > span,
.activeHome:hover > span, .button:active > span, .buttonCategory:active > span,
.activeCategory:active > span, .buttonForward:active > span,
.activeForward:active > span, .buttonBackwards:active > span,
.activeBackwards:active > span, .buttonDrawerMenu:active > span,
.activeDrawerMenu:active > span, .buttonModal:active > span,
.activeModal:active > span, .buttonHome:active > span,
.activeHome:active > span,
.active:hover > span,
.active:active > span {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 200, "opsz" 24;
  color: var(--on-primary-fixed);
}

.active {
  background-color: var(--tertiary-container);
  color: var(--on-tertiary-container);
}

/*# sourceMappingURL=buttons.module.css.map */
