.drawer {
  position: fixed;
  width: 30vw;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 1;
  transition: all 0.3s;
  display: grid;
  z-index: 5;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 2vmin;
  grid-template-areas: 'title title title title  drawerMenuButton ' '. inputSearchBar inputSearchBar inputSearchBar drawerMenuButton' 'ProcesosLayoutList  ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList' 'ProcesosLayoutList  ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList' 'ProcesosLayoutList  ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList' 'ProcesosLayoutList  ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList' 'ProcesosLayoutList  ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList' 'ProcesosLayoutList  ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList' 'ProcesosLayoutList  ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList' 'ProcesosLayoutList  ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList' 'ProcesosLayoutList  ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList' 'ProcesosLayoutList  ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList ';
  justify-content: space-evenly;
  align-content: flex-start;
  justify-items: stretch;
  align-items: stretch;
  background-color: var(--background);
  color: var(--on-background);
  box-sizing: border-box;
  grid-gap: 2vmin;
  box-shadow: var(--dp16);
  text-align: center;
  padding: 2vmin;
  @media screen and (max-width: 1000px) {
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: 100vw;
    grid-template-areas: ' ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList ' ' ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList ' ' ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList ' ' ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList ' ' ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList ' ' ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList ' ' ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList ' ' ProcesosLayoutList ProcesosLayoutList ProcesosLayoutList ' 'drawerMenuButton Title homeButton' 'backwardsButton  inputSearchBar forwardButton';
    .menu {
      display: flex;
      flex-flow: column nowrap;
    }
  }
}
.closed {
  position: relative;
  width: 0;
  height: 0;
  opacity: 0;
  transition: width 1s opacity 1.5s;
}
.sidenav {
  display: flex;
  flex-flow: row wrap;
  grid-area: ProcesosLayoutList;
  gap: 2vmin;
  box-sizing: border-box;
  padding: 2vmin;
  box-shadow: var(--dp2);
  background-color: var(--surface-container-low);
  overflow: auto;
  & > * {
    width: calc(50% - 2vmin);
  }
}
.button {
  border: none;

  display: flex;
  flex-flow: column nowrap;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  transition: all 0.3s;
  &Forward {
    @extend .button;
    flex: 1 1 auto;
    grid-area: forwardButton;
    background-color: var(--primary-container);
    & > .icon {
      color: var(--on-primary-container);
    }
  }
  &Backwards {
    @extend .button;
    flex: 1 1 auto;
    background-color: var(--primary-container);
    grid-area: backwardsButton;
    & > .icon {
      color: var(--on-primary-container);
    }
  }
  &DrawerMenu {
    @extend .button;
    flex: 2 1 auto;
    grid-area: drawerMenuButton;
    background-color: var(--secondary);
    & > .icon {
      color: var(--on-secondary);
    }
  }
  &Home {
    @extend .button;
    flex: 2 1 auto;
    grid-area: homeButton;
    box-shadow: var(--dp2);
    background-color: var(--primary);
    & > .icon {
      color: var(--on-primary);
    }
  }
  & > .ButtonTextHelper {
    display: none;
    opacity: 0;
    transition: all 1s;
  }
  &:hover,
  &:active {
    background-color: var(--primary-fixed);
    box-shadow: var(--dp6);
    border: 2px solid var(--outline);
    & > span {
      font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 200,
        'opsz' 24;
      color: var(--on-primary-fixed);
    }
  }
}
.home {
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  padding: 2vmin;
} /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (width <=600px) {
  .sidenav {
    & > * {
      width: 100%;
    }
  }
}

.input {
  background-color: var(--surface-container-lowest);
  border: 2px solid var(--outline-variant);
  color: var(--on-surface);
  grid-area: inputSearchBar;
  text-align: center;
  flex: 4 0 auto;

  &:hover,
  &:active,
  &:focus {
    border: 2px dashed var(--tertiary);
    background-color: var(--tertiary-container);
    color: var(--on-tertiary-container);
    box-shadow: var(--dp4);
  }
}
