.container {
  container-name: card;
  container-type: inline-size;
  box-sizing: border-box;
  border-radius: 2vmin;
  flex: 1;
  border: solid 3px var(--outline);
}
.container > * {
  width: 100%;
}

.card {
  box-sizing: border-box;
  justify-content: space-around;
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  align-items: stretch;
  align-content: space-between;
  padding: 5cqmin;
  gap: 5cqmin;
  border-radius: 2vmin;
  text-align: center;
}
.card .content {
  text-align: center;
  box-sizing: border-box;
  padding: 2cqmin;
  display: flex;
  border-radius: 2cqmin;
}
.card .section {
  justify-content: space-around;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  align-items: stretch;
  align-content: space-between;
}
.card .section > .section {
  justify-content: space-around;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  align-items: stretch;
  align-content: space-between;
}
.card .section > .section > .actuacion {
  display: none;
  font-size: 1rem;
}
.card .section > .section > .anotacion {
  display: none;
  width: auto;
}
.card .section > .section:hover > .actuacion, .card .section > .section:active > .actuacion, .card .section > .section:focus > .actuacion {
  display: inline;
}
.card .section > .section:hover > .anotacion, .card .section > .section:active > .anotacion, .card .section > .section:focus > .anotacion {
  display: inline;
}
.card .section > .section > .date {
  grid-area: date;
  background-color: var(--surface-container-highest);
  padding: 2cqmin;
  color: var(--on-surface);
  font-family: var(--font-poiret);
  border-radius: 2cqmin;
  align-self: center;
  box-sizing: border-box;
  text-align: center;
}
.card .sub {
  color: var(--tertiary);
  grid-area: sub;
}

.dummytxt {
  height: 6px;
  border: none;
  background: rgba(0, 0, 0, 0.1);
}

.title {
  grid-area: title;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-flow: row nowrap;
  color: var(--tertiary);
  text-align: left;
}

.links {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  grid-area: links;
}
@media (width < 600px) {
  .links {
    flex-flow: row nowrap;
  }
}

.link {
  background-color: var(--secondary-container);
  flex: 1;
  grid-area: link;
  border-radius: 10cqmin;
  padding: 1cqmax;
  position: relative;
}
.link .icon {
  margin: 0;
  grid-area: icon;
  color: var(--secondary);
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}
.link:hover {
  box-shadow: var(--dp8);
  background-color: var(--surface-container-highest);
}
.link:hover > p {
  color: var(--primary);
  font-weight: 800;
}
.link:hover .icon {
  color: var(--tertiary);
  font-variation-settings: "FILL" 1, "wght" 500, "GRAD" 200, "opsz" 48;
}
.link:focus {
  box-shadow: var(--dp20);
  background-color: var(--surface-container-highest);
  border: 2px dashed var(--primary-container);
}
.link:active {
  background-color: var(--ssurface-container-high);
  box-shadow: var(--dp3);
}
.link > .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: var(--inverse-surface);
  color: var(--inverse-on-surface);
  text-align: center;
  border-radius: 1cqmin;
  padding: 1cqmin;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  right: 100px;
  opacity: 0;
  transition: all 0.5s;
}
.link > .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.link > .icon {
  margin: 0;
  grid-area: icon;
  color: var(--on-tertiary-container);
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
  font-size: 1.5rem;
}
.link:hover .tooltiptext, .link:active .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.updated {
  background-color: var(--secondary);
  color: var(--on-secondary);
}

.error {
  background-color: var(--error-container);
  color: var(--on-error-container);
}

@container card ( 300px < width < 400px) {
  .isActive .link,
  .isActive .linkIsActive,
  .notActive .link,
  .notActive .linkIsActive {
    flex: 1 0;
  }
}
@container card (380px < width < 400px) {
  .isActive,
  .notActive {
    flex-flow: column nowrap;
  }
}
@container card ( 400px < width < 500px) {
  .date .actuacion,
  .date .anotacion {
    display: none;
  }
}
/*
@container card (width < 100px) {
  .form,
  .card {
    background-color: red;
  }
}
@container card ( 100px < width < 200px) {
  .form,
  .card {
    background-color: orange;
  }
}
@container card ( 200px < width < 300px) {
  .form,
  .card {
    background-color: yellow;
  }
}
@container card ( 300px < width < 400px) {
  .form,
  .card {
    background-color: green;
  }
}
@container card ( 400px < width < 500px) {
  .form,
  .card {
    background-color: blue;
  }
}
@container card ( 500px < width < 600px) {
  .form,
  .card {
    background-color: purple;
  }
}
@container card ( 600px < width) {
  .form,
  .card {
    background-color: var(--primary-container);
  }
} */
.errorContainer {
  background-color: var(--error-container);
  color: var(--on-error-container);
  box-shadow: var(--dp16);
  border-radius: 2vmin;
}
