.open {
  container-name: modal;
  z-index: 5;
  align-items: center;
  justify-content: center;
  container-type: inline-size;
  background-color: rgba(71, 91, 133, 0.493);
  width: 100vw;
  height: 100svh;
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  left: 0;
  flex-flow: column nowrap;
  display: flex;
  opacity: 1;
  transition: all 1.5s ease-in-out;
}
.open .wrapper {
  width: 50vw;
  border-radius: 2vmin;
  box-shadow: var(--dp20);
  background-color: var(--surface-variant);
  color: var(--on-surface-variant);
  height: 50lvh;
  box-sizing: border-box;
  padding: 2vmin;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  justify-items: stretch;
}
.open .wrapper > * {
  width: 100%;
}

.closed {
  display: none;
  width: 0;
  height: 0;
  opacity: 0;
}
