.container {
  container-type: inline-size;
  container-name: link;
}
.container > * {
  width: 100%;
}
.container:link {
  background-color: var(--surface-container-lowest);
  color: var(--on-surface);
}
.container:visited {
  background-color: var(--surface-container-low);
  color: var(--on-surface-variant);
}
.container:hover {
  background-color: var(--surface-container-high);
  color: var(--on-surface);
  box-shadow: var(--dp8);
}
.container:focus {
  background-color: var(--surface-container-high);
  color: var(--on-surface);
  box-shadow: var(--dp8);
  border: 5px solid var(--outline);
}
.container:active {
  background-color: var(--surface-container-highest);
  color: var(--primary);
}

.searchBarLink, .isActive, .notActive {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  flex-flow: row nowrap;
  padding: 5cqmin;
  gap: 5cqmin;
  border-radius: 2vmin;
  text-align: center;
}
.searchBarLink .date, .isActive .date, .notActive .date {
  grid-area: date;
  background-color: var(--surface);
  padding: 2cqmin;
  color: var(--on-surface);
  font-family: var(--font-poiret);
  border-radius: 2cqmin;
  align-self: center;
}
.searchBarLink .sub, .isActive .sub, .notActive .sub {
  color: var(--secondary);
}

.notActive .date {
  display: none;
}

.isActive .date {
  display: flex;
}

.input {
  background-color: var(--surface-container-lowest);
  border: 2px solid var(--outline-variant);
  color: var(--on-surface);
  grid-area: inputSearchBar;
  border-radius: 10cqmin;
  text-align: center;
  flex: 4 0 auto;
}
.input:hover, .input:active, .input:focus {
  border: 2px dashed var(--tertiary);
  background-color: var(--tertiary-container);
  color: var(--on-tertiary-container);
  box-shadow: var(--dp4);
}

.inputForm {
  padding: 1cqmin;
  box-sizing: border-box;
  grid-area: InputSearchBar;
  background-color: var(--tertiary-container);
  box-shadow: var(--dp3);
}
.inputForm > .icon {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
  color: var(--secondary);
}
.inputForm:link {
  background-color: var(--sf-3);
  color: var(--on-surface);
}
.inputForm:visited {
  background-color: var(--sf-2);
  color: var(--on-surface-variant);
}
.inputForm:hover {
  background-color: var(--sf-5);
  color: var(--primary);
  border: 3px solid var(--outline);
}
.inputForm:hover > .icon {
  font-variation-settings: "FILL" 1, "wght" 600, "GRAD" 200, "opsz" 48;
  color: var(--secondary);
}

@container link (width < 100px) {
  .isActive,
  .notActive {
    background-color: red;
  }
}
@container link (100px < width < 200px) {
  .isActive,
  .notActive {
    background-color: orange;
  }
}
@container link (200px < width < 300px) {
  .isActive {
    box-shadow: var(--dp12);
  }
}
.title {
  flex: 1;
}
