:root {
  --md-source: #91006a;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary4: #240018;
  --md-ref-palette-primary5: #29001c;
  --md-ref-palette-primary6: #2d001f;
  --md-ref-palette-primary10: #3c002a;
  --md-ref-palette-primary12: #43002f;
  --md-ref-palette-primary17: #56003d;
  --md-ref-palette-primary20: #610046;
  --md-ref-palette-primary22: #69004c;
  --md-ref-palette-primary24: #710052;
  --md-ref-palette-primary25: #750055;
  --md-ref-palette-primary30: #890064;
  --md-ref-palette-primary35: #9b1072;
  --md-ref-palette-primary40: #aa227f;
  --md-ref-palette-primary50: #ca3f99;
  --md-ref-palette-primary60: #ea5ab4;
  --md-ref-palette-primary70: #ff7fcb;
  --md-ref-palette-primary80: #ffaed9;
  --md-ref-palette-primary87: #ffcce4;
  --md-ref-palette-primary90: #ffd8ea;
  --md-ref-palette-primary92: #ffe0ed;
  --md-ref-palette-primary94: #ffe8f1;
  --md-ref-palette-primary95: #ffecf3;
  --md-ref-palette-primary96: #fff0f5;
  --md-ref-palette-primary98: #fff8f8;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary4: #1a0813;
  --md-ref-palette-secondary5: #1d0b15;
  --md-ref-palette-secondary6: #200d18;
  --md-ref-palette-secondary10: #291520;
  --md-ref-palette-secondary12: #2e1924;
  --md-ref-palette-secondary17: #39242f;
  --md-ref-palette-secondary20: #402a35;
  --md-ref-palette-secondary22: #452e3a;
  --md-ref-palette-secondary24: #49323e;
  --md-ref-palette-secondary25: #4c3540;
  --md-ref-palette-secondary30: #58404c;
  --md-ref-palette-secondary35: #654b58;
  --md-ref-palette-secondary40: #715764;
  --md-ref-palette-secondary50: #8b6f7d;
  --md-ref-palette-secondary60: #a78896;
  --md-ref-palette-secondary70: #c2a3b1;
  --md-ref-palette-secondary80: #dfbecc;
  --md-ref-palette-secondary87: #f3d1e0;
  --md-ref-palette-secondary90: #fcd9e9;
  --md-ref-palette-secondary92: #ffe0ed;
  --md-ref-palette-secondary94: #ffe8f1;
  --md-ref-palette-secondary95: #ffecf3;
  --md-ref-palette-secondary96: #fff0f5;
  --md-ref-palette-secondary98: #fff8f8;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary4: #1e0800;
  --md-ref-palette-tertiary5: #220a00;
  --md-ref-palette-tertiary6: #260c00;
  --md-ref-palette-tertiary10: #311302;
  --md-ref-palette-tertiary12: #361704;
  --md-ref-palette-tertiary17: #43210c;
  --md-ref-palette-tertiary20: #4a2712;
  --md-ref-palette-tertiary22: #4f2c16;
  --md-ref-palette-tertiary24: #55301a;
  --md-ref-palette-tertiary25: #57321c;
  --md-ref-palette-tertiary30: #643d26;
  --md-ref-palette-tertiary35: #724931;
  --md-ref-palette-tertiary40: #80543c;
  --md-ref-palette-tertiary50: #9b6c52;
  --md-ref-palette-tertiary60: #b8856a;
  --md-ref-palette-tertiary70: #d59f82;
  --md-ref-palette-tertiary80: #f3ba9c;
  --md-ref-palette-tertiary87: #ffd0b8;
  --md-ref-palette-tertiary90: #ffdbc9;
  --md-ref-palette-tertiary92: #ffe2d5;
  --md-ref-palette-tertiary94: #ffeae0;
  --md-ref-palette-tertiary95: #ffede5;
  --md-ref-palette-tertiary96: #fff1eb;
  --md-ref-palette-tertiary98: #fff8f6;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral4: #110d0f;
  --md-ref-palette-neutral5: #141012;
  --md-ref-palette-neutral6: #171214;
  --md-ref-palette-neutral10: #1f1a1c;
  --md-ref-palette-neutral12: #231e20;
  --md-ref-palette-neutral17: #2e282b;
  --md-ref-palette-neutral20: #352f31;
  --md-ref-palette-neutral22: #393335;
  --md-ref-palette-neutral24: #3e383a;
  --md-ref-palette-neutral25: #403a3c;
  --md-ref-palette-neutral30: #4c4547;
  --md-ref-palette-neutral35: #575153;
  --md-ref-palette-neutral40: #645c5f;
  --md-ref-palette-neutral50: #7d7577;
  --md-ref-palette-neutral60: #978e91;
  --md-ref-palette-neutral70: #b2a9ab;
  --md-ref-palette-neutral80: #cec4c7;
  --md-ref-palette-neutral87: #e2d7da;
  --md-ref-palette-neutral90: #ebe0e2;
  --md-ref-palette-neutral92: #f0e5e8;
  --md-ref-palette-neutral94: #f6ebee;
  --md-ref-palette-neutral95: #f9eef1;
  --md-ref-palette-neutral96: #fcf1f4;
  --md-ref-palette-neutral98: #fff8f8;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant4: #140c10;
  --md-ref-palette-neutral-variant5: #170e13;
  --md-ref-palette-neutral-variant6: #1a1115;
  --md-ref-palette-neutral-variant10: #23191e;
  --md-ref-palette-neutral-variant12: #271d22;
  --md-ref-palette-neutral-variant17: #32272c;
  --md-ref-palette-neutral-variant20: #382d32;
  --md-ref-palette-neutral-variant22: #3d3237;
  --md-ref-palette-neutral-variant24: #42363b;
  --md-ref-palette-neutral-variant25: #44383d;
  --md-ref-palette-neutral-variant30: #504349;
  --md-ref-palette-neutral-variant35: #5c4f54;
  --md-ref-palette-neutral-variant40: #685b60;
  --md-ref-palette-neutral-variant50: #827379;
  --md-ref-palette-neutral-variant60: #9c8d93;
  --md-ref-palette-neutral-variant70: #b7a7ad;
  --md-ref-palette-neutral-variant80: #d4c2c8;
  --md-ref-palette-neutral-variant87: #e8d5dc;
  --md-ref-palette-neutral-variant90: #f0dee4;
  --md-ref-palette-neutral-variant92: #f6e3ea;
  --md-ref-palette-neutral-variant94: #fce9f0;
  --md-ref-palette-neutral-variant95: #ffecf3;
  --md-ref-palette-neutral-variant96: #fff0f5;
  --md-ref-palette-neutral-variant98: #fff8f8;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error4: #280001;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error6: #310001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error12: #490002;
  --md-ref-palette-error17: #5c0004;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error22: #710005;
  --md-ref-palette-error24: #790006;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error87: #ffcfc9;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error92: #ffe2de;
  --md-ref-palette-error94: #ffe9e6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error96: #fff0ee;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --primary-light: #aa227f;
  --on-primary-light: #ffffff;
  --primary-container-light: #ffd8ea;
  --on-primary-container-light: #3c002a;
  --primary-fixed-light: #ffd8ea;
  --on-primary-fixed-light: #3c002a;
  --primary-fixed-dim-light: #ffaed9;
  --on-primary-fixed-variant-light: #890064;
  --secondary-light: #715764;
  --on-secondary-light: #ffffff;
  --secondary-container-light: #fcd9e9;
  --on-secondary-container-light: #291520;
  --secondary-fixed-light: #fcd9e9;
  --on-secondary-fixed-light: #291520;
  --secondary-fixed-dim-light: #dfbecc;
  --on-secondary-fixed-variant-light: #58404c;
  --tertiary-light: #80543c;
  --on-tertiary-light: #ffffff;
  --tertiary-container-light: #ffdbc9;
  --on-tertiary-container-light: #311302;
  --tertiary-fixed-light: #ffdbc9;
  --on-tertiary-fixed-light: #311302;
  --tertiary-fixed-dim-light: #f3ba9c;
  --on-tertiary-fixed-variant-light: #643d26;
  --error-light: #ba1a1a;
  --error-container-light: #ffdad6;
  --on-error-light: #ffffff;
  --on-error-container-light: #410002;
  --background-light: #fffbff;
  --on-background-light: #1f1a1c;
  --outline-light: #827379;
  --inverse-on-surface-light: #f9eef1;
  --inverse-surface-light: #352f31;
  --inverse-primary-light: #ffaed9;
  --shadow-light: #000000;
  --surface-tint-light: #aa227f;
  --outline-variant-light: #d4c2c8;
  --scrim-light: #000000;
  --surface-light: #fff8f8;
  --on-surface-light: #1f1a1c;
  --surface-variant-light: #f0dee4;
  --on-surface-variant-light: #504349;
  --surface-container-highest-light: #ebe0e2;
  --surface-container-high-light: #f0e5e8;
  --surface-container-light: #f6ebee;
  --surface-container-low-light: #fcf1f4;
  --surface-container-lowest-light: #ffffff;
  --surface-dim-light: #e2d7da;
  --surface-bright-light: #fff8f8;
  /* dark */
  --primary-dark: #ffaed9;
  --on-primary-dark: #610046;
  --primary-container-dark: #890064;
  --on-primary-container-dark: #ffd8ea;
  --primary-fixed-dark: #ffd8ea;
  --on-primary-fixed-dark: #3c002a;
  --primary-fixed-dim-dark: #ffaed9;
  --on-primary-fixed-variant-dark: #890064;
  --secondary-dark: #dfbecc;
  --on-secondary-dark: #402a35;
  --secondary-container-dark: #58404c;
  --on-secondary-container-dark: #fcd9e9;
  --secondary-fixed-dark: #fcd9e9;
  --on-secondary-fixed-dark: #291520;
  --secondary-fixed-dim-dark: #dfbecc;
  --on-secondary-fixed-variant-dark: #58404c;
  --tertiary-dark: #f3ba9c;
  --on-tertiary-dark: #4a2712;
  --tertiary-container-dark: #643d26;
  --on-tertiary-container-dark: #ffdbc9;
  --tertiary-fixed-dark: #ffdbc9;
  --on-tertiary-fixed-dark: #311302;
  --tertiary-fixed-dim-dark: #f3ba9c;
  --on-tertiary-fixed-variant-dark: #643d26;
  --error-dark: #ffb4ab;
  --error-container-dark: #93000a;
  --on-error-dark: #690005;
  --on-error-container-dark: #ffdad6;
  --background-dark: #1f1a1c;
  --on-background-dark: #ebe0e2;
  --outline-dark: #9c8d93;
  --inverse-on-surface-dark: #1f1a1c;
  --inverse-surface-dark: #ebe0e2;
  --inverse-primary-dark: #aa227f;
  --shadow-dark: #000000;
  --surface-tint-dark: #ffaed9;
  --outline-variant-dark: #504349;
  --scrim-dark: #000000;
  --surface-dark: #171214;
  --on-surface-dark: #cec4c7;
  --surface-variant-dark: #504349;
  --on-surface-variant-dark: #d4c2c8;
  --surface-container-highest-dark: #393335;
  --surface-container-high-dark: #2e282b;
  --surface-container-dark: #231e20;
  --surface-container-low-dark: #1f1a1c;
  --surface-container-lowest-dark: #110d0f;
  --surface-dim-dark: #171214;
  --surface-bright-dark: #3e383a;
  /* display - large */
  --display-large-font-family-name: var(--font-poiret);
  --display-large-font-family-style: Regular;
  --display-large-font-weight: 400px;
  --display-large-font-size: 57px;
  --display-large-line-height: 64px;
  --display-large-letter-spacing: -0.25px;
  /* display - medium */
  --display-medium-font-family-name: var(--font-poiret);
  --display-medium-font-family-style: Regular;
  --display-medium-font-weight: 400px;
  --display-medium-font-size: 45px;
  --display-medium-line-height: 52px;
  --display-medium-letter-spacing: 0px;
  /* display - small */
  --display-small-font-family-name: var(--font-poiret);
  --display-small-font-family-style: Regular;
  --display-small-font-weight: 400px;
  --display-small-font-size: 36px;
  --display-small-line-height: 44px;
  --display-small-letter-spacing: 0px;
  /* headline - large */
  --headline-large-font-family-name: var(--raleway);
  --headline-large-font-family-style: Regular;
  --headline-large-font-weight: 400px;
  --headline-large-font-size: 32px;
  --headline-large-line-height: 40px;
  --headline-large-letter-spacing: 0px;
  /* headline - medium */
  --headline-medium-font-family-name: var(--raleway);
  --headline-medium-font-family-style: Regular;
  --headline-medium-font-weight: 400px;
  --headline-medium-font-size: 28px;
  --headline-medium-line-height: 36px;
  --headline-medium-letter-spacing: 0px;
  /* headline - small */
  --headline-small-font-family-name: var(--raleway);
  --headline-small-font-family-style: Regular;
  --headline-small-font-weight: 400px;
  --headline-small-font-size: 24px;
  --headline-small-line-height: 32px;
  --headline-small-letter-spacing: 0px;
  /* body - large */
  --body-large-font-family-name: var(--inter);
  --body-large-font-family-style: Regular;
  --body-large-font-weight: 400px;
  --body-large-font-size: 16px;
  --body-large-line-height: 24px;
  --body-large-letter-spacing: 0.5px;
  /* body - medium */
  --body-medium-font-family-name: var(--inter);
  --body-medium-font-family-style: Regular;
  --body-medium-font-weight: 400px;
  --body-medium-font-size: 14px;
  --body-medium-line-height: 20px;
  --body-medium-letter-spacing: 0.25px;
  /* body - small */
  --body-small-font-family-name: var(--inter);
  --body-small-font-family-style: Regular;
  --body-small-font-weight: 400px;
  --body-small-font-size: 12px;
  --body-small-line-height: 16px;
  --body-small-letter-spacing: 0.4px;
  /* label - large */
  --label-large-font-family-name: var(--josefa);
  --label-large-font-family-style: Medium;
  --label-large-font-weight: 500px;
  --label-large-font-size: 14px;
  --label-large-line-height: 20px;
  --label-large-letter-spacing: 0.1px;
  /* label - medium */
  --label-medium-font-family-name: var(--josefa);
  --label-medium-font-family-style: Medium;
  --label-medium-font-weight: 500px;
  --label-medium-font-size: 12px;
  --label-medium-line-height: 16px;
  --label-medium-letter-spacing: 0.5px;
  /* label - small */
  --label-small-font-family-name: var(--josefa);
  --label-small-font-family-style: Medium;
  --label-small-font-weight: 500px;
  --label-small-font-size: 11px;
  --label-small-line-height: 16px;
  --label-small-letter-spacing: 0.5px;
  /* title - large */
  --title-large-font-family-name: var(--roboto);
  --title-large-font-family-style: Medium;
  --title-large-font-weight: 700px;
  --title-large-font-size: 22px;
  --title-large-line-height: 28px;
  --title-large-letter-spacing: 0px;
  /* title - medium */
  --title-medium-font-family-name: var(--roboto);
  --title-medium-font-family-style: Medium;
  --title-medium-font-weight: 700px;
  --title-medium-font-size: 16px;
  --title-medium-line-height: 24px;
  --title-medium-letter-spacing: 0.15px;
  /* title - small */
  --title-small-font-family-name: var(--roboto);
  --title-small-font-family-style: Medium;
  --title-small-font-weight: 700px;
  --title-small-font-size: 14px;
  --title-small-line-height: 20px;
  --title-small-letter-spacing: 0.1px;


  --dp0: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  --dp1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --dp2: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --dp3: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  --dp4: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  --dp5: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  --dp6: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  --dp7: 0px 4px 5px -2px rgba(0, 0, 0, 0.2),
    0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
  --dp8: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  --dp9: 0px 5px 6px -3px rgba(0, 0, 0, 0.2),
    0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
  --dp10: 0px 6px 6px -3px rgba(0, 0, 0, 0.2),
    0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
  --dp11: 0px 6px 7px -4px rgba(0, 0, 0, 0.2),
    0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12);
  --dp12: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
  --dp13: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
  --dp14: 0px 7px 9px -4px rgba(0, 0, 0, 0.2),
    0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12);
  --dp15: 0px 8px 9px -5px rgba(0, 0, 0, 0.2),
    0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12);
  --dp16: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
    0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  --dp17: 0px 8px 11px -5px rgba(0, 0, 0, 0.2),
    0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12);
  --dp18: 0px 9px 11px -5px rgba(0, 0, 0, 0.2),
    0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12);
  --dp19: 0px 9px 12px -6px rgba(0, 0, 0, 0.2),
    0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12);
  --dp20: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
    0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12);
  --dp21: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
    0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12);
  --dp22: 0px 10px 14px -6px rgba(0, 0, 0, 0.2),
    0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12);
  --dp23: 0px 11px 14px -7px rgba(0, 0, 0, 0.2),
    0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12);
  --dp24: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  --minFontSize: 16px;
  --maxFontSize: 22px;
  --scaler: 6vw;
}
